[submodule "datamodel"]
	path = datamodel
	url = https://github.com/QGEP/datamodel.git
[submodule "QGEP"]
	path = QGEP
	url = https://github.com/QGEP/QGEP.git
[submodule "cadastre"]
	path = cadastre
	url =https://github.com/sige-riviera/cadastre.git
